{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock %}

{% block title %}
    Editar Cliente
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Editar Cliente</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_nome_fantasia">Nome Fantasia:</label>
        {{ form.nome_fantasia }}

        <label for="id_razao_social">Razão Social:</label>
        {{ form.razao_social }}

        <label for="id_cnpj">CNPJ:</label>
        {{ form.cnpj }}

        <label for="id_email">Email:</label>
        {{ form.email }}

        <label for="id_endereco">Endereço:</label>
        {{ form.endereco }}

        <label for="id_sigla">Sigla do Cliente:</label>
        {{ form.sigla }}

        <label for="id_unidade">Unidade:</label>
        {{ form.unidade }}

        <label for="id_sub_local">Sub-local:</label>
        {{ form.sub_local }}        

        <label for="id_logo">Logo atual:</label><br>
        {% if form.instance.logo %}
            <img src="{{ form.instance.logo.url }}" alt="Logo" class="preview-img">
        {% else %}
            <p>Nenhuma logo cadastrada.</p>
        {% endif %}
        {{ form.logo }}

        <label for="id_responsavel">Responsável:</label>
        {{ form.responsavel }}

        <label for="id_numero_contrato">Número do Contrato:</label>
        {{ form.numero_contrato }}

        <div class="form-group">
            <label for="id_data_inicio_contrato">Início do Contrato:</label>
            <input type="date" name="data_inicio_contrato" id="id_data_inicio_contrato" class="form-control" value="{{ form.data_inicio_contrato.value|date:'Y-m-d' }}">
        </div>
        
        <div class="form-group">
            <label for="id_data_vencimento_contrato">Vencimento do Contrato:</label>
            <input type="date" name="data_vencimento_contrato" id="id_data_vencimento_contrato" class="form-control" value="{{ form.data_vencimento_contrato.value|date:'Y-m-d' }}">
        </div>
        
        <br>
        <button type="submit">Salvar alterações</button>

        <a href="{% url 'clientes:listar_clientes' %}">
            <button type="button" style="margin-top: 10px;">Voltar</button>
        </a>
    </form>
</div>
{% endblock %}
