{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock %}

{% block title %}
    Nova Vistoria
{% endblock %}

{% block header %}
    <h1>Nova Vistoria</h1>
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
    </form>

    <a href="{% url 'vistorias:listar_vistorias' %}">
        <button type="button" style="margin-top: 10px;">Voltar</button>
    </a>
</div>
{% endblock %}
