<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <h1>Lista de Vistorias</h1>

  <ul>
    {% for vistoria in vistorias %}
      <li>
        <a href="{% url 'vistorias:equipamentos_para_vistoria' vistoria_id=vistoria.id %}">{{ vistoria.nome }}</a>
      </li>
    {% empty %}
      <li>Nenhuma vistoria registrada.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'vistorias:criar_vistoria' %}">Criar Nova Vistoria</a>
{% endblock %}
</body>
</html>

