{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock %}

{% block title %}
    Cadastrar Parâmetro
{% endblock %}

{% block header %}
    <h1>Cadastrar Parâmetro</h1>
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Dados do Parâmetro</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Salvar</button>
        <a href="{% url 'equipamentos:listar_parametros' %}" style="display:block; text-align:center; margin-top:10px;">Voltar</a>
    </form>
</div>
{% endblock %}
