{% extends 'base.html' %}

{% block title %}
    Lista de Parâmetros
{% endblock %}

{% block header %}
    <h1>Lista de Parâmetros</h1>
{% endblock %}

{% block content %}
<h2>Parâmetros Cadastrados</h2>

<div>
    <a href="{% url 'equipamentos:cadastrar_parametro' %}" class="btn btn-primary mb-3">Cadastrar Parâmetro</a>
    <a href="{% url 'core:dashboard' %}" style="display:block; margin-top:10px;">Voltar</a>
</div>

<table border="1" cellspacing="0" cellpadding="8">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Gravidade</th>
            <th>O que avaliar</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for parametro in parametros %}
        <tr>
            <td><a href="{% url 'equipamentos:detalhes_parametro' parametro.id %}">{{ parametro.nome }}</a></td>
            <td>{{ parametro.gravidade|capfirst }}</td>
            <td>{{ parametro.avaliacao_ajuda }}</td>
            <td>
                <a href="{% url 'equipamentos:editar_parametro' parametro.id %}">Editar</a>
                <form method="POST" action="{% url 'equipamentos:excluir_parametro' parametro.id %}" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir este parâmetro?');">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">Excluir</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum parâmetro cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><hr>

{% endblock %}
